@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("../../../assets/Styles/variables.css");

/* Botón base */
.btn {
  padding: 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  text-align: center;
  cursor: pointer;
  width: 100%;
  text-decoration: none; /* Para enlaces como <a> */
  display: inline-block;
}

/* Botón principal */
.btn-primary {
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
}

/* Botón de borde */
.btn-outline {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

/* Opcional: efecto hover */
.btn:hover {
  background-color: var(--shadowColor);
  transition: all 0.3s;
}

/* Link */
.btn-link-wrapper {
  display: block;
  width: 100%;
  text-decoration: none;
}
