@import url("../../../assets/Styles/variables.css");

/* Mensajes */
.message {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.4;
}

/* Mensaje de exito */
.message.success {
  background-color: var(--bg-success);
  color: var(--text-success);
  border: 1px solid var(--outline-success);
}

/* Mensaje de error */
.message.error {
  background-color: var(--bg-error);
  color: var(--text-error);
  border: 1px solid var(--outline-error);
}
